*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background-image: url(background.png) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-color: #0000007e ;
    background-blend-mode: darken;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    
    display: flex;
    justify-content:center ;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
h1{
    color: #ebe4e4;
    font-size: clamp(40px, 10vw, 120px);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.apresentacao{
    color:#FFFFFF;
    font-size: clamp(10px, 5vw, 60px);
    font-family: 'Montserrat', sans-serif;
    font-weight:  400;
    font-style: italic;


}
#informacoes{
    width:150px;
    height: 40px;
    background-color: #fae12c;
    border-style: none;
    border-radius: 5px;

    
}